---
http_interactions:
- request:
    method: get
    uri: https://rubygems.org/api/v1/versions/foobara.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Last-Modified:
      - Thu, 31 Oct 2024 02:37:47 GMT
      X-Backend:
      - F_Rails 34.212.116.232:443
      Etag:
      - '"e78f12c39579889c4df3a3711f7d61a1"'
    body:
      encoding: ASCII-8BIT
      string: '[{"authors":"Miles Georgi","built_at":"2024-10-31T00:00:00.000Z","created_at":"2024-10-31T02:37:47.001Z","description":"Implements
        command pattern for encapsulating and managing domain complexity as well as
        many supporting libraries including entities.","downloads_count":127,"metadata":{"homepage_uri":"https://github.com/foobara/foobara","changelog_uri":"https://github.com/foobara/foobara/CHANGELOG.md","source_code_uri":"https://github.com/foobara/foobara","rubygems_mfa_required":"true"},"number":"0.0.12","summary":"Implements
        command pattern for encapsulating and managing domain complexity as well as
        many supporting libraries including entities.","platform":"ruby","rubygems_version":"\u003e=
        0","ruby_version":"\u003e= 3.2.2","prerelease":false,"licenses":["MPL-2.0"],"requirements":[],"sha":"05a63bb9f7208e34579b1106c3ced58fe9c5d077c77f3ffe12903d79742edcb0","spec_sha":"28a2e11265a6d9e0de842dc1c86666ef21d19d0b8c795bc114c421ab888bcc5b"},{"authors":"Miles
        Georgi","built_at":"2024-10-27T00:00:00.000Z","created_at":"2024-10-27T22:47:38.516Z","description":"Implements
        command pattern for encapsulating and managing domain complexity as well as
        many supporting libraries including entities.","downloads_count":141,"metadata":{"homepage_uri":"https://github.com/foobara/foobara","changelog_uri":"https://github.com/foobara/foobara/CHANGELOG.md","so[...]
