---
http_interactions:
- request:
    method: get
    uri: https://rubygems.org/api/v1/search.json?query=foobara
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Backend:
      - F_Rails 52.38.203.82:443
    body:
      encoding: ASCII-8BIT
      string: '[{"documentation_uri":null,"metadata":{"homepage_uri":"https://github.com/foobara/foobara","rubygems_mfa_required":"true","changelog_uri":"https://github.com/foobara/foobara/CHANGELOG.md","source_code_uri":"https://github.com/foobara/foobara"},"homepage_uri":"https://github.com/foobara/foobara","funding_uri":null,"bug_tracker_uri":null,"project_uri":"https://rubygems.org/gems/foobara","version":"0.0.12","sha":"05a63bb9f7208e34579b1106c3ced58fe9c5d077c77f3ffe12903d79742edcb0","platform":"ruby","changelog_uri":"https://github.com/foobara/foobara/CHANGELOG.md","source_code_uri":"https://github.com/foobara/foobara","licenses":["MPL-2.0"],"gem_uri":"https://rubygems.org/gems/foobara-0.0.12.gem","downloads":2346,"mailing_list_uri":null,"name":"foobara","wiki_uri":null,"version_downloads":127,"info":"Implements
        command pattern for encapsulating and managing domain complexity as well as
        many supporting libraries including entities.","authors":"Miles Georgi"},{"documentation_uri":null,"metadata":{"homepage_uri":"https://github.com/foobara/util","rubygems_mfa_required":"true","changelog_uri":"https://github.com/foobara/util/blob/main/CHANGELOG.md","source_code_uri":"https://github.com/foobara/util"},"homepage_uri":"https://github.com/foobara/util","funding_uri":null,"bug_tracker_uri":null,"project_uri":"https://rubygems.org/gems/foobara-util","version":"0.0.6","sha":"44c51ae9e1a63afcb5550ac98cbeca669df7537ce5023102655bff1764cb6a15","pl[...]
