---
http_interactions:
- request:
    method: get
    uri: https://rubygems.org/api/v1/search.json?query=foobara
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Backend:
      - F_Rails 52.38.203.82:443
    body:
      encoding: ASCII-8BIT
      string: '[{"documentation_uri":null,"metadata":{"homepage_uri":"https://github.com/foobara/foobara","rubygems_mfa_required":"true","changelog_uri":"https://github.com/foobara/foobara/CHANGELOG.md","source_code_uri":"https://github.com/foobara/foobara"},"homepage_uri":"https://github.com/foobara/foobara","funding_uri":null,"bug_tracker_uri":null,"project_uri":"https://rubygems.org/gems/foobara","version":"0.0.12","sha":"05a63bb9f7208e34579b1106c3ced58fe9c5d077c77f3ffe12903d79742edcb0","platform":"ruby","changelog_uri":"https://github.com/foobara/foobara/CHANGELOG.md","source_code_uri":"https://github.com/foobara/foobara","licenses":["MPL-2.0"],"gem_uri":"https://rubygems.org/gems/foobara-0.0.12.gem","downloads":2355,"mailing_list_uri":null,"name":"foobara","wiki_uri":null,"version_downloads":127,"info":"Implements
        command pattern for encapsulating and managing domain complexity as well as
        many supporting libraries including entities.","authors":"Miles Georgi"},{"documentation_uri":null,"metadata":{"homepage_uri":"https://github.com/foobara/util","rubygems_mfa_required":"true","changelog_uri":"https://github.com/foobara/util/blob/main/CHANGELOG.md","source_code_uri":"https://github.com/foobara/util"},"homepage_uri":"https://github.com/foobara/util","funding_uri":null,"bug_tracker_uri":null,"project_uri":"https://rubygems.org/gems/foobara-util","version":"0.0.6","sha":"44c51ae9e1a63afcb5550ac98cbeca669df7537ce5023102655bff1764cb6a15","pl[...]
- request:
    method: get
    uri: https://rubygems.org/api/v1/gems/foobara/owners.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Backend:
      - F_Rails 34.212.116.232:443
    body:
      encoding: ASCII-8BIT
      string: '[{"id":16853,"handle":"azimux"}]'
  recorded_at: Tue, 05 Nov 2024 17:50:38 GMT
- request:
    method: get
    uri: https://rubygems.org/api/v1/gems/foobara-util/owners.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Backend:
      - F_Rails 52.38.203.82:443
    body:
      encoding: ASCII-8BIT
      string: '[{"id":16853,"handle":"azimux"}]'
  recorded_at: Tue, 05 Nov 2024 17:50:38 GMT
- request:
    method: get
    uri: https://rubygems.org/api/v1/gems/foobara-files-generator/owners.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Backend:
      - F_Rails 34.212.116.232:443
    body:
      encoding: ASCII-8BIT
      string: '[{"id":16853,"handle":"azimux"}]'
  recorded_at: Tue, 05 Nov 2024 17:50:39 GMT
- request:
    method: get
    uri: https://rubygems.org/api/v1/gems/foobara-type-generator/owners.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Backend:
      - F_Rails 35.163.143.14:443
    body:
      encoding: ASCII-8BIT
      string: '[{"id":16853,"handle":"azimux"}]'
  recorded_at: Tue, 05 Nov 2024 17:50:39 GMT
- request:
    method: get
    uri: https://rubygems.org/api/v1/gems/foobara-rubocop-rules/owners.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Backend:
      - F_Rails 35.163.143.14:443
    body:
      encoding: ASCII-8BIT
      string: '[{"id":16853,"handle":"azimux"}]'
  recorded_at: Tue, 05 Nov 2024 17:50:39 GMT
- request:
    method: get
    uri: https://rubygems.org/api/v1/gems/foobara-command-generator/owners.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Backend:
      - F_Rails 52.38.203.82:443
    body:
      encoding: ASCII-8BIT
      string: '[{"id":16853,"handle":"azimux"}]'
  recorded_at: Tue, 05 Nov 2024 17:50:39 GMT
- request:
    method: get
    uri: https://rubygems.org/api/v1/gems/foobara-domain-generator/owners.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Backend:
      - F_Rails 52.38.203.82:443
    body:
      encoding: ASCII-8BIT
      string: '[{"id":16853,"handle":"azimux"}]'
  recorded_at: Tue, 05 Nov 2024 17:50:39 GMT
- request:
    method: get
    uri: https://rubygems.org/api/v1/gems/foobara-rack-connector/owners.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Backend:
      - F_Rails 34.212.116.232:443
    body:
      encoding: ASCII-8BIT
      string: '[{"id":16853,"handle":"azimux"}]'
  recorded_at: Tue, 05 Nov 2024 17:50:39 GMT
- request:
    method: get
    uri: https://rubygems.org/api/v1/gems/foobara-autocrud-generator/owners.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Backend:
      - F_Rails 34.212.116.232:443
    body:
      encoding: ASCII-8BIT
      string: '[{"id":16853,"handle":"azimux"}]'
  recorded_at: Tue, 05 Nov 2024 17:50:39 GMT
- request:
    method: get
    uri: https://rubygems.org/api/v1/gems/foobara-organization-generator/owners.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Backend:
      - F_Rails 52.38.203.82:443
    body:
      encoding: ASCII-8BIT
      string: '[{"id":16853,"handle":"azimux"}]'
  recorded_at: Tue, 05 Nov 2024 17:50:39 GMT
- request:
    method: get
    uri: https://rubygems.org/api/v1/gems/foobara-rack-connector-generator/owners.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Backend:
      - F_Rails 34.212.116.232:443
    body:
      encoding: ASCII-8BIT
      string: '[{"id":16853,"handle":"azimux"}]'
  recorded_at: Tue, 05 Nov 2024 17:50:39 GMT
- request:
    method: get
    uri: https://rubygems.org/api/v1/gems/foobara-spec-helpers/owners.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Backend:
      - F_Rails 52.38.203.82:443
    body:
      encoding: ASCII-8BIT
      string: '[{"id":16853,"handle":"azimux"}]'
  recorded_at: Tue, 05 Nov 2024 17:50:39 GMT
- request:
    method: get
    uri: https://rubygems.org/api/v1/gems/foobara-sh-cli-connector/owners.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Backend:
      - F_Rails 34.212.116.232:443
    body:
      encoding: ASCII-8BIT
      string: '[{"id":16853,"handle":"azimux"}]'
  recorded_at: Tue, 05 Nov 2024 17:50:39 GMT
- request:
    method: get
    uri: https://rubygems.org/api/v1/gems/foobara-domain-mapper-generator/owners.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Backend:
      - F_Rails 35.163.143.14:443
    body:
      encoding: ASCII-8BIT
      string: '[{"id":16853,"handle":"azimux"}]'
  recorded_at: Tue, 05 Nov 2024 17:50:39 GMT
- request:
    method: get
    uri: https://rubygems.org/api/v1/gems/foobara-remote-imports-generator/owners.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Backend:
      - F_Rails 52.38.203.82:443
    body:
      encoding: ASCII-8BIT
      string: '[{"id":16853,"handle":"azimux"}]'
  recorded_at: Tue, 05 Nov 2024 17:50:39 GMT
- request:
    method: get
    uri: https://rubygems.org/api/v1/gems/foobara-empty-ruby-project-generator/owners.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Backend:
      - F_Rails 35.163.143.14:443
    body:
      encoding: ASCII-8BIT
      string: '[{"id":16853,"handle":"azimux"}]'
  recorded_at: Tue, 05 Nov 2024 17:50:39 GMT
- request:
    method: get
    uri: https://rubygems.org/api/v1/gems/foobara-dotenv-loader/owners.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Backend:
      - F_Rails 35.163.143.14:443
    body:
      encoding: ASCII-8BIT
      string: '[{"id":16853,"handle":"azimux"}]'
  recorded_at: Tue, 05 Nov 2024 17:50:39 GMT
- request:
    method: get
    uri: https://rubygems.org/api/v1/gems/foobara-resque-connector-generator/owners.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Backend:
      - F_Rails 35.163.143.14:443
    body:
      encoding: ASCII-8BIT
      string: '[{"id":16853,"handle":"azimux"}]'
  recorded_at: Tue, 05 Nov 2024 17:50:39 GMT
- request:
    method: get
    uri: https://rubygems.org/api/v1/gems/foobara-typescript-remote-command-generator/owners.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Backend:
      - F_Rails 35.163.143.14:443
    body:
      encoding: ASCII-8BIT
      string: '[{"id":16853,"handle":"azimux"}]'
  recorded_at: Tue, 05 Nov 2024 17:50:39 GMT
- request:
    method: get
    uri: https://rubygems.org/api/v1/gems/foobara-anthropic-api/owners.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Backend:
      - F_Rails 52.38.203.82:443
    body:
      encoding: ASCII-8BIT
      string: '[{"id":16853,"handle":"azimux"}]'
  recorded_at: Tue, 05 Nov 2024 17:50:39 GMT
- request:
    method: get
    uri: https://rubygems.org/api/v1/gems/foobara-sh-cli-connector-generator/owners.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Backend:
      - F_Rails 35.163.143.14:443
    body:
      encoding: ASCII-8BIT
      string: '[{"id":16853,"handle":"azimux"}]'
  recorded_at: Tue, 05 Nov 2024 17:50:39 GMT
- request:
    method: get
    uri: https://rubygems.org/api/v1/gems/foobara-redis-crud-driver-generator/owners.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Backend:
      - F_Rails 34.212.116.232:443
    body:
      encoding: ASCII-8BIT
      string: '[{"id":16853,"handle":"azimux"}]'
  recorded_at: Tue, 05 Nov 2024 17:50:39 GMT
- request:
    method: get
    uri: https://rubygems.org/api/v1/gems/foobara-open-ai-api/owners.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Backend:
      - F_Rails 35.163.143.14:443
    body:
      encoding: ASCII-8BIT
      string: '[{"id":16853,"handle":"azimux"}]'
  recorded_at: Tue, 05 Nov 2024 17:50:39 GMT
- request:
    method: get
    uri: https://rubygems.org/api/v1/gems/foobara-http-command-connector/owners.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Backend:
      - F_Rails 34.212.116.232:443
    body:
      encoding: ASCII-8BIT
      string: '[{"id":16853,"handle":"azimux"}]'
  recorded_at: Tue, 05 Nov 2024 17:50:39 GMT
- request:
    method: get
    uri: https://rubygems.org/api/v1/gems/foobara-empty-typescript-react-project-generator/owners.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Backend:
      - F_Rails 52.38.203.82:443
    body:
      encoding: ASCII-8BIT
      string: '[{"id":16853,"handle":"azimux"}]'
  recorded_at: Tue, 05 Nov 2024 17:50:40 GMT
- request:
    method: get
    uri: https://rubygems.org/api/v1/gems/foobara-resque-scheduler-connector-generator/owners.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Backend:
      - F_Rails 34.212.116.232:443
    body:
      encoding: ASCII-8BIT
      string: '[{"id":16853,"handle":"azimux"}]'
  recorded_at: Tue, 05 Nov 2024 17:50:40 GMT
- request:
    method: get
    uri: https://rubygems.org/api/v1/gems/foobara-typescript-react-command-form-generator/owners.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Backend:
      - F_Rails 35.163.143.14:443
    body:
      encoding: ASCII-8BIT
      string: '[{"id":16853,"handle":"azimux"}]'
  recorded_at: Tue, 05 Nov 2024 17:50:40 GMT
- request:
    method: get
    uri: https://rubygems.org/api/v1/gems/foob/owners.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Backend:
      - F_Rails 35.163.143.14:443
    body:
      encoding: ASCII-8BIT
      string: '[{"id":16853,"handle":"azimux"}]'
  recorded_at: Tue, 05 Nov 2024 17:50:40 GMT
- request:
    method: get
    uri: https://rubygems.org/api/v1/gems/foobarac5/owners.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Backend:
      - F_Rails 52.38.203.82:443
    body:
      encoding: ASCII-8BIT
      string: '[{"id":24792,"handle":"ihower"}]'
  recorded_at: Tue, 05 Nov 2024 17:50:40 GMT
- request:
    method: get
    uri: https://rubygems.org/api/v1/versions/foobara.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Last-Modified:
      - Thu, 31 Oct 2024 02:37:47 GMT
      X-Backend:
      - F_Rails 34.212.116.232:443
      Etag:
      - '"e78f12c39579889c4df3a3711f7d61a1"'
    body:
      encoding: ASCII-8BIT
      string: '[{"authors":"Miles Georgi","built_at":"2024-10-31T00:00:00.000Z","created_at":"2024-10-31T02:37:47.001Z","description":"Implements
        command pattern for encapsulating and managing domain complexity as well as
        many supporting libraries including entities.","downloads_count":127,"metadata":{"homepage_uri":"https://github.com/foobara/foobara","changelog_uri":"https://github.com/foobara/foobara/CHANGELOG.md","source_code_uri":"https://github.com/foobara/foobara","rubygems_mfa_required":"true"},"number":"0.0.12","summary":"Implements
        command pattern for encapsulating and managing domain complexity as well as
        many supporting libraries including entities.","platform":"ruby","rubygems_version":"\u003e=
        0","ruby_version":"\u003e= 3.2.2","prerelease":false,"licenses":["MPL-2.0"],"requirements":[],"sha":"05a63bb9f7208e34579b1106c3ced58fe9c5d077c77f3ffe12903d79742edcb0","spec_sha":"28a2e11265a6d9e0de842dc1c86666ef21d19d0b8c795bc114c421ab888bcc5b"},{"authors":"Miles
        Georgi","built_at":"2024-10-27T00:00:00.000Z","created_at":"2024-10-27T22:47:38.516Z","description":"Implements
        command pattern for encapsulating and managing domain complexity as well as
        many supporting libraries including entities.","downloads_count":141,"metadata":{"homepage_uri":"https://github.com/foobara/foobara","changelog_uri":"https://github.com/foobara/foobara/CHANGELOG.md","so[...]
- request:
    method: get
    uri: https://rubygems.org/api/v1/versions/foobara-util.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Last-Modified:
      - Thu, 26 Sep 2024 18:23:35 GMT
      X-Backend:
      - F_Rails 52.38.203.82:443
      Etag:
      - '"8ab82669006822f504c31060fde1759c"'
  [...]
- request:
    method: get
    uri: https://rubygems.org/api/v1/versions/foobara-files-generator.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Last-Modified:
      - Mon, 22 Jul 2024 22:47:55 GMT
      X-Backend:
      - F_Rails 35.163.143.14:443
      Etag:
      - '"5533667bf0fcfc6414d9c7d2d[...]
- request:
    method: get
    uri: https://rubygems.org/api/v1/versions/foobara-type-generator.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Last-Modified:
      - Wed, 14 Aug 2024 20:10:37 GMT
      X-Backend:
      - F_Rails 35.163.143.14:443
      Etag:
      - '"de06c09185e05b5718dd5b94a3[...]
- request:
    method: get
    uri: https://rubygems.org/api/v1/versions/foobara-rubocop-rules.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Last-Modified:
      - Sat, 17 Aug 2024 04:46:16 GMT
      X-Backend:
      - F_Rails 35.163.143.14:443
      Etag:
      - '"0f8d03261fd29e2ec8c78da3eb0[...]
- request:
    method: get
    uri: https://rubygems.org/api/v1/versions/foobara-command-generator.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Last-Modified:
      - Fri, 12 Jul 2024 16:14:54 GMT
      X-Backend:
      - F_Rails 52.38.203.82:443
      Etag:
      - '"a7456732a7d885e8ee1b3239[...]
- request:
    method: get
    uri: https://rubygems.org/api/v1/versions/foobara-domain-generator.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Last-Modified:
      - Mon, 08 Jul 2024 23:52:01 GMT
      X-Backend:
      - F_Rails 52.38.203.82:443
      Etag:
      - '"3e926df6ea728801e2f591d47[...]
- request:
    method: get
    uri: https://rubygems.org/api/v1/versions/foobara-rack-connector.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Last-Modified:
      - Wed, 30 Oct 2024 19:48:27 GMT
      X-Backend:
      - F_Rails 52.38.203.82:443
      Etag:
      - '"255621ae4da33df7f09b8682032[...]
- request:
    method: get
    uri: https://rubygems.org/api/v1/versions/foobara-autocrud-generator.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Last-Modified:
      - Sun, 16 Jun 2024 20:30:34 GMT
      X-Backend:
      - F_Rails 52.38.203.82:443
      Etag:
      - '"75193f7f5ab72aaf51569c1b30f530f0"'
    body:
      encoding: ASCII-8BIT
      string: '[{"authors":"Miles Georgi","built_at":"2024-06-16T00:00:00.000Z","created_at":"2024-06-16T20:30:33.752Z","description":null,"downloads_count":656,"metadata":{"homepage_uri":"https://github.com/foobara/generators-autocrud-generator","changelog_uri":"https://github.com/foobara/generators-autocrud-generator/blob/main/CHANGELOG.md","source_code_uri":"https://github.com/foobara/generators-autocrud-generator","rubygems_mfa_required":"true"},"number":"0.0.1","summary":"Generates
        a Foobara autocrud","platform":"ruby","rubygems_version":"\u003e= 0","ruby_version":"\u003e=
        3.2.2","prerelease":false,"licenses":["Apache-2.0","MIT"],"requirements":[],"sha":"1a6404c223cee31cc25ff923301bdfe0d509fd0d898f84e82cd3ff091a1b328c","spec_sha":"24dc0f37061550e4c84adc34125dec1623613c5e03b85c814f2575743029e9e8"}]'
  recorded_at: Tue, 05 Nov 2024 17:50:42 GMT
- request:
    method: get
    uri: https://rubygems.org/api/v1/versions/foobara-organization-generator.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Last-Modified:
      - Mon, 17 Jun 2024 19:44:42 GMT
      X-Backend:
      - F_Rails 52.38.203.82:443
      Etag:
      - '"33f640050175589578c06353df63c8ef"'
    body:
      encoding: ASCII-8BIT
      string: '[{"authors":"Miles Georgi","built_at":"2024-06-17T00:00:00.000Z","created_at":"2024-06-17T19:44:41.523Z","description":null,"downloads_count":638,"metadata":{"homepage_uri":"https://github.com/foobara/generators-organization-generator","changelog_uri":"https://github.com/foobara/generators-organization-generator/blob/main/CHANGELOG.md","source_code_uri":"https://github.com/foobara/generators-organization-generator","rubygems_mfa_required":"true"},"number":"0.0.1","summary":"Generates
        Foobara organizations","platform":"ruby","rubygems_version":"\u003e= 0","ruby_version":"\u003e=
        3.2.2","prerelease":false,"licenses":["Apache-2.0","MIT"],"requirements":[],"sha":"344dfeaaecdb8d32798d0ea98dbf8e7ba134d5692d33740cc4c3a13b02f74e42","spec_sha":"4c2a65aa211d28bf3b79810736e40827372b0cfc23b5699a91ad4063f120b1cb"}]'
  recorded_at: Tue, 05 Nov 2024 17:50:42 GMT
- request:
    method: get
    uri: https://rubygems.org/api/v1/versions/foobara-rack-connector-generator.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Last-Modified:
      - Sun, 23 Jun 2024 23:47:54 GMT
      X-Backend:
      - F_Rails 34.212.116.232:443
      Etag:
      - '"15afa584d4af308[...]
- request:
    method: get
    uri: https://rubygems.org/api/v1/versions/foobara-spec-helpers.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Last-Modified:
      - Fri, 31 May 2024 01:27:47 GMT
      X-Backend:
      - F_Rails 35.163.143.14:443
      Etag:
      - '"b7fa03d2a82815b586ff99d595686bd6"'
    body:
      encoding: ASCII-8BIT
      string: '[{"authors":"Miles Georgi","built_at":"2024-05-31T00:00:00.000Z","created_at":"2024-05-31T01:26:14.657Z","description":null,"downloads_count":375,"metadata":{"homepage_uri":"https://github.com/foobara/spec-helpers","changelog_uri":"https://github.com/foobara/spec-helpers/blob/main/CHANGELOG.md","source_code_uri":"https://github.com/foobara/spec-helpers","rubygems_mfa_required":"true"},"number":"0.0.3","summary":"Common
        spec helpers used in various Foobara projects.","platform":"ruby","rubygems_version":"\u003e=
        0","ruby_version":"\u003e= 3.2.2","prerelease":false,"licenses":["Apache-2.0","MIT"],"requirements":[],"sha":"43f9ae46b267d91346f56be88a7cee3cb885c85c9c497beef44a05cea863cb39","spec_sha":"48aaaa63beed84c2e9b0fa64d524a24be649959c0615deb5c96adbcff9add12f"}]'
  recorded_at: Tue, 05 Nov 2024 17:50:42 GMT
- request:
    method: get
    uri: https://rubygems.org/api/v1/versions/foobara-sh-cli-connector.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Last-Modified:
      - Tue, 29 Oct 2024 01:00:08 GMT
      X-Backend:
      - F_Rails 34.212.116.232:443
      Etag:
      - '"0c3e9786a0bfa07f389eab4[...]
- request:
    method: get
    uri: https://rubygems.org/api/v1/versions/foobara-domain-mapper-generator.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Last-Modified:
      - Thu, 15 Aug 2024 00:07:17 GMT
      X-Backend:
      - F_Rails 35.163.143.14:443
      Etag:
      - '"fe8555ef7c666713b[...]
- request:
    method: get
    uri: https://rubygems.org/api/v1/versions/foobara-remote-imports-generator.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Last-Modified:
      - Sat, 22 Jun 2024 02:47:54 GMT
      X-Backend:
      - F_Rails 34.212.116.232:443
      Etag:
      - '"1be88fe4461bbb6[...]
- request:
    method: get
    uri: https://rubygems.org/api/v1/versions/foobara-empty-ruby-project-generator.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Last-Modified:
      - Fri, 01 Nov 2024 14:24:03 GMT
      X-Backend:
      - F_Rails 52.38.203.82:443
      Etag:
      - '"2c68307e21d95[...]
- request:
    method: get
    uri: https://rubygems.org/api/v1/versions/foobara-dotenv-loader.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
[...]
