---
http_interactions:
- request:
    method: get
    uri: https://rubygems.org/api/v1/search.json?query=foobara
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Backend:
      - F_Rails 52.38.203.82:443
    body:
      encoding: ASCII-8BIT
      string: '[{"documentation_uri":null,"metadata":{"homepage_uri":"https://github.com/foobara/foobara","rubygems_mfa_required":"true","changelog_uri":"https://github.com/foobara/foobara/CHANGELOG.md","source_code_uri":"https://github.com/foobara/foobara"},"homepage_uri":"https://github.com/foobara/foobara","funding_uri":null,"bug_tracker_uri":null,"project_uri":"https://rubygems.org/gems/foobara","version":"0.0.12","sha":"05a63bb9f7208e34579b1106c3ced58fe9c5d077c77f3ffe12903d79742edcb0","platform":"ruby","changelog_uri":"https://github.com/foobara/foobara/CHANGELOG.md","source_code_uri":"https://github.com/foobara/foobara","licenses":["MPL-2.0"],"gem_uri":"https://rubygems.org/gems/foobara-0.0.12.gem","downloads":2346,"mailing_list_uri":null,"name":"foobara","wiki_uri":null,"version_downloads":127,"info":"Implements
        command pattern for encapsulating and managing domain complexity as well as
        many supporting libraries including entities.","authors":"Miles Georgi"},{"documentation_uri":null,"metadata":{"homepage_uri":"https://github.com/foobara/util","rubygems_mfa_required":"true","changelog_uri":"https://github.com/foobara/util/blob/main/CHANGELOG.md","source_code_uri":"https://github.com/foobara/util"},"homepage_uri":"https://github.com/foobara/util","funding_uri":null,"bug_tracker_uri":null,"project_uri":"https://rubygems.org/gems/foobara-util","version":"0.0.6","sha":"44c51ae9e1a63afcb5550ac98cbeca669df7537ce5023102655bff1764cb6a15","pl[...]
- request:
    method: get
    uri: https://rubygems.org/api/v1/gems/foobara/owners.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Backend:
      - F_Rails 35.163.143.14:443
    body:
      encoding: ASCII-8BIT
      string: '[{"id":16853,"handle":"azimux"}]'
  recorded_at: Tue, 05 Nov 2024 02:11:42 GMT
- request:
    method: get
    uri: https://rubygems.org/api/v1/gems/foobara-util/owners.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Backend:
      - F_Rails 34.212.116.232:443
    body:
      encoding: ASCII-8BIT
      string: '[{"id":16853,"handle":"azimux"}]'
  recorded_at: Tue, 05 Nov 2024 02:11:42 GMT
- request:
    method: get
    uri: https://rubygems.org/api/v1/gems/foobara-files-generator/owners.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Backend:
      - F_Rails 52.38.203.82:443
    body:
      encoding: ASCII-8BIT
      string: '[{"id":16853,"handle":"azimux"}]'
  recorded_at: Tue, 05 Nov 2024 02:11:42 GMT
- request:
    method: get
    uri: https://rubygems.org/api/v1/gems/foobara-type-generator/owners.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Backend:
      - F_Rails 52.38.203.82:443
    body:
      encoding: ASCII-8BIT
      string: '[{"id":16853,"handle":"azimux"}]'
  recorded_at: Tue, 05 Nov 2024 02:11:42 GMT
- request:
    method: get
    uri: https://rubygems.org/api/v1/gems/foobara-rubocop-rules/owners.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Backend:
      - F_Rails 34.212.116.232:443
    body:
      encoding: ASCII-8BIT
      string: '[{"id":16853,"handle":"azimux"}]'
  recorded_at: Tue, 05 Nov 2024 02:11:43 GMT
- request:
    method: get
    uri: https://rubygems.org/api/v1/gems/foobara-command-generator/owners.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Backend:
      - F_Rails 52.38.203.82:443
    body:
      encoding: ASCII-8BIT
      string: '[{"id":16853,"handle":"azimux"}]'
  recorded_at: Tue, 05 Nov 2024 02:11:43 GMT
- request:
    method: get
    uri: https://rubygems.org/api/v1/gems/foobara-domain-generator/owners.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Backend:
      - F_Rails 34.212.116.232:443
    body:
      encoding: ASCII-8BIT
      string: '[{"id":16853,"handle":"azimux"}]'
  recorded_at: Tue, 05 Nov 2024 02:11:43 GMT
- request:
    method: get
    uri: https://rubygems.org/api/v1/gems/foobara-rack-connector/owners.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Backend:
      - F_Rails 34.212.116.232:443
    body:
      encoding: ASCII-8BIT
      string: '[{"id":16853,"handle":"azimux"}]'
  recorded_at: Tue, 05 Nov 2024 02:11:43 GMT
- request:
    method: get
    uri: https://rubygems.org/api/v1/gems/foobara-autocrud-generator/owners.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Backend:
      - F_Rails 34.212.116.232:443
    body:
      encoding: ASCII-8BIT
      string: '[{"id":16853,"handle":"azimux"}]'
  recorded_at: Tue, 05 Nov 2024 02:11:43 GMT
- request:
    method: get
    uri: https://rubygems.org/api/v1/gems/foobara-organization-generator/owners.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Backend:
      - F_Rails 35.163.143.14:443
    body:
      encoding: ASCII-8BIT
      string: '[{"id":16853,"handle":"azimux"}]'
  recorded_at: Tue, 05 Nov 2024 02:11:43 GMT
- request:
    method: get
    uri: https://rubygems.org/api/v1/gems/foobara-rack-connector-generator/owners.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Backend:
      - F_Rails 34.212.116.232:443
    body:
      encoding: ASCII-8BIT
      string: '[{"id":16853,"handle":"azimux"}]'
  recorded_at: Tue, 05 Nov 2024 02:11:43 GMT
- request:
    method: get
    uri: https://rubygems.org/api/v1/gems/foobara-spec-helpers/owners.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Backend:
      - F_Rails 34.212.116.232:443
    body:
      encoding: ASCII-8BIT
      string: '[{"id":16853,"handle":"azimux"}]'
  recorded_at: Tue, 05 Nov 2024 02:11:43 GMT
- request:
    method: get
    uri: https://rubygems.org/api/v1/gems/foobara-sh-cli-connector/owners.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Backend:
      - F_Rails 34.212.116.232:443
    body:
      encoding: ASCII-8BIT
      string: '[{"id":16853,"handle":"azimux"}]'
  recorded_at: Tue, 05 Nov 2024 02:11:43 GMT
- request:
    method: get
    uri: https://rubygems.org/api/v1/gems/foobara-domain-mapper-generator/owners.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Backend:
      - F_Rails 52.38.203.82:443
    body:
      encoding: ASCII-8BIT
      string: '[{"id":16853,"handle":"azimux"}]'
  recorded_at: Tue, 05 Nov 2024 02:11:44 GMT
- request:
    method: get
    uri: https://rubygems.org/api/v1/gems/foobara-remote-imports-generator/owners.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Backend:
      - F_Rails 35.163.143.14:443
    body:
      encoding: ASCII-8BIT
      string: '[{"id":16853,"handle":"azimux"}]'
  recorded_at: Tue, 05 Nov 2024 02:11:44 GMT
- request:
    method: get
    uri: https://rubygems.org/api/v1/gems/foobara-empty-ruby-project-generator/owners.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Backend:
      - F_Rails 34.212.116.232:443
    body:
      encoding: ASCII-8BIT
      string: '[{"id":16853,"handle":"azimux"}]'
  recorded_at: Tue, 05 Nov 2024 02:11:44 GMT
- request:
    method: get
    uri: https://rubygems.org/api/v1/gems/foobara-dotenv-loader/owners.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Backend:
      - F_Rails 52.38.203.82:443
    body:
      encoding: ASCII-8BIT
      string: '[{"id":16853,"handle":"azimux"}]'
  recorded_at: Tue, 05 Nov 2024 02:11:44 GMT
- request:
    method: get
    uri: https://rubygems.org/api/v1/gems/foobara-resque-connector-generator/owners.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Backend:
      - F_Rails 52.38.203.82:443
    body:
      encoding: ASCII-8BIT
      string: '[{"id":16853,"handle":"azimux"}]'
  recorded_at: Tue, 05 Nov 2024 02:11:44 GMT
- request:
    method: get
    uri: https://rubygems.org/api/v1/gems/foobara-typescript-remote-command-generator/owners.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Backend:
      - F_Rails 35.163.143.14:443
    body:
      encoding: ASCII-8BIT
      string: '[{"id":16853,"handle":"azimux"}]'
  recorded_at: Tue, 05 Nov 2024 02:11:44 GMT
- request:
    method: get
    uri: https://rubygems.org/api/v1/gems/foobara-anthropic-api/owners.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Backend:
      - F_Rails 34.212.116.232:443
    body:
      encoding: ASCII-8BIT
      string: '[{"id":16853,"handle":"azimux"}]'
  recorded_at: Tue, 05 Nov 2024 02:11:44 GMT
- request:
    method: get
    uri: https://rubygems.org/api/v1/gems/foobara-sh-cli-connector-generator/owners.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Backend:
      - F_Rails 52.38.203.82:443
    body:
      encoding: ASCII-8BIT
      string: '[{"id":16853,"handle":"azimux"}]'
  recorded_at: Tue, 05 Nov 2024 02:11:44 GMT
- request:
    method: get
    uri: https://rubygems.org/api/v1/gems/foobara-open-ai-api/owners.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Backend:
      - F_Rails 34.212.116.232:443
    body:
      encoding: ASCII-8BIT
      string: '[{"id":16853,"handle":"azimux"}]'
  recorded_at: Tue, 05 Nov 2024 02:11:44 GMT
- request:
    method: get
    uri: https://rubygems.org/api/v1/gems/foobara-redis-crud-driver-generator/owners.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Backend:
      - F_Rails 52.38.203.82:443
    body:
      encoding: ASCII-8BIT
      string: '[{"id":16853,"handle":"azimux"}]'
  recorded_at: Tue, 05 Nov 2024 02:11:45 GMT
- request:
    method: get
    uri: https://rubygems.org/api/v1/gems/foobara-http-command-connector/owners.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Backend:
      - F_Rails 52.38.203.82:443
    body:
      encoding: ASCII-8BIT
      string: '[{"id":16853,"handle":"azimux"}]'
  recorded_at: Tue, 05 Nov 2024 02:11:45 GMT
- request:
    method: get
    uri: https://rubygems.org/api/v1/gems/foobara-empty-typescript-react-project-generator/owners.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Backend:
      - F_Rails 35.163.143.14:443
    body:
      encoding: ASCII-8BIT
      string: '[{"id":16853,"handle":"azimux"}]'
  recorded_at: Tue, 05 Nov 2024 02:11:45 GMT
- request:
    method: get
    uri: https://rubygems.org/api/v1/gems/foobara-resque-scheduler-connector-generator/owners.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Backend:
      - F_Rails 35.163.143.14:443
    body:
      encoding: ASCII-8BIT
      string: '[{"id":16853,"handle":"azimux"}]'
  recorded_at: Tue, 05 Nov 2024 02:11:45 GMT
- request:
    method: get
    uri: https://rubygems.org/api/v1/gems/foobara-typescript-react-command-form-generator/owners.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Backend:
      - F_Rails 52.38.203.82:443
    body:
      encoding: ASCII-8BIT
      string: '[{"id":16853,"handle":"azimux"}]'
  recorded_at: Tue, 05 Nov 2024 02:11:45 GMT
- request:
    method: get
    uri: https://rubygems.org/api/v1/gems/foob/owners.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Backend:
      - F_Rails 52.38.203.82:443
    body:
      encoding: ASCII-8BIT
      string: '[{"id":16853,"handle":"azimux"}]'
  recorded_at: Tue, 05 Nov 2024 02:11:45 GMT
- request:
    method: get
    uri: https://rubygems.org/api/v1/gems/foobarac5/owners.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Backend:
      - F_Rails 52.38.203.82:443
    body:
      encoding: ASCII-8BIT
      string: '[{"id":24792,"handle":"ihower"}]'
  recorded_at: Tue, 05 Nov 2024 02:11:45 GMT
recorded_with: VCR 6.3.1
