---
http_interactions:
- request:
    method: get
    uri: https://rubygems.org/api/v1/search.json?query=foobara
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Backend:
      - F_Rails 54.148.225.161:443
    body:
      encoding: ASCII-8BIT
      string: '[{"documentation_uri":null,"metadata":{"homepage_uri":"https://foobara.com","rubygems_mfa_required":"true","changelog_uri":"https://github.com/foobara/foobara/blob/main/CHANGELOG.md","source_code_uri":"https://github.com/foobara/foobara"},"homepage_uri":"https://foobara.com","funding_uri":null,"bug_tracker_uri":null,"project_uri":"https://rubygems.org/gems/foobara","version":"0.0.141","sha":"89e044a6d4145ef61b5892b7a66187456c3023bbc653798a7ffbb6d032da700f","platform":"ruby","changelog_uri":"https://github.com/foobara/foobara/blob/main/CHANGELOG.md","source_code_uri":"https://github.com/foobara/foobara","licenses":["MPL-2.0"],"gem_uri":"https://rubygems.org/gems/foobara-0.0.141.gem","downloads":31886,"mailing_list_uri":null,"name":"foobara","wiki_uri":null,"version_downloads":116,"info":"A
        command-centric and discoverable software framework with a focus on domain
        concepts and abstracting away integration code","authors":"Miles Georgi"},{"documentation_uri":null,"metadata":{"homepage_uri":"https://github.com/foobara/util","rubygems_mfa_required":"true","changelog_uri":"https://github.com/foobara/util/blob/main/CHANGELOG.md","source_code_uri":"https://github.com/foobara/util"},"homepage_uri":"https://github.com/foobara/util","funding_uri":null,"bug_tracker_uri":null,"project_uri":"https://rubygems.org/gems/foobara-util","version":"1.0.2","sha":"c9c2208c3f0b0e8a6b8e62b3adb0319628be195d78e02e734e38b8e0c86a4857","pl[...]
- request:
    method: get
    uri: https://rubygems.org/api/v1/search.json?query=inheritable-thread-vars
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Backend:
      - F_Rails 54.148.225.161:443
    body:
      encoding: ASCII-8BIT
      string: '[{"documentation_uri":null,"metadata":{"homepage_[...]
- request:
    method: get
    uri: https://rubygems.org/api/v1/gems/foobara/owners.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Backend:
      - F_Rails 52.37.144.133:443
    body:
      encoding: ASCII-8BIT
      string: '[{"id":16853,"handle":"azimux"}]'
  recorded_at: Sat, 02 Aug 2025 22:17:13 GMT
- request:
    method: get
    uri: https://rubygems.org/api/v1/gems/foobara-util/owners.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Backend:
      - F_Rails 52.37.144.133:443
    body:
      encoding: ASCII-8BIT
      string: '[{"id":16853,"handle":"azimux"}]'
  recorded_at: Sat, 02 Aug 2025 22:17:13 GMT
- request:
    method: get
    uri: https://rubygems.org/api/v1/gems/foobara-ai/owners.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Backend:
      - F_Rails 52.37.144.133:443
    body:
      encoding: ASCII-8BIT
      string: '[{"id":16853,"handle":"azimux"}]'
  recorded_at: Sat, 02 Aug 2025 22:17:13 GMT
- request:
    method: get
    uri: https://rubygems.org/api/v1/gems/foobara-agent/owners.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Backend:
      - F_Rails 54.148.225.161:443
    body:
      encoding: ASCII-8BIT
      string: '[{"id":16853,"handle":"azimux"}]'
  recorded_at: Sat, 02 Aug 2025 22:17:13 GMT
- request:
    method: get
    uri: https://rubygems.org/api/v1/gems/foobara-auth/owners.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Backend:
      - F_Rails 54.148.225.161:443
    body:
      encoding: ASCII-8BIT
      string: '[{"id":16853,"handle":"azimux"}]'
  recorded_at: Sat, 02 Aug 2025 22:17:13 GMT
- request:
    method: get
    uri: https://rubygems.org/api/v1/gems/foobara-rubocop-rules/owners.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Backend:
      - F_Rails 52.37.144.133:443
    body:
      encoding: ASCII-8BIT
      string: '[{"id":16853,"handle":"azimux"}]'
  recorded_at: Sat, 02 Aug 2025 22:17:13 GMT
- request:
    method: get
    uri: https://rubygems.org/api/v1/gems/foobara-remote-imports/owners.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Backend:
      - F_Rails 54.148.225.161:443
    body:
      encoding: ASCII-8BIT
      string: '[{"id":16853,"handle":"azimux"}]'
  recorded_at: Sat, 02 Aug 2025 22:17:13 GMT
- request:
    method: get
    uri: https://rubygems.org/api/v1/gems/foobara-files-generator/owners.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Backend:
      - F_Rails 54.148.225.161:443
    body:
      encoding: ASCII-8BIT
      string: '[{"id":16853,"handle":"azimux"}]'
  recorded_at: Sat, 02 Aug 2025 22:17:14 GMT
- request:
    method: get
    uri: https://rubygems.org/api/v1/gems/foobara-rack-connector/owners.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Backend:
      - F_Rails 52.89.128.178:443
    body:
      encoding: ASCII-8BIT
      string: '[{"id":16853,"handle":"azimux"}]'
  recorded_at: Sat, 02 Aug 2025 22:17:14 GMT
- request:
    method: get
    uri: https://rubygems.org/api/v1/gems/foobara-anthropic-api/owners.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Backend:
      - F_Rails 52.37.144.133:443
    body:
      encoding: ASCII-8BIT
      string: '[{"id":16853,"handle":"azimux"}]'
  recorded_at: Sat, 02 Aug 2025 22:17:14 GMT
- request:
    method: get
    uri: https://rubygems.org/api/v1/gems/foobara-http-command-connector/owners.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Backend:
      - F_Rails 54.148.225.161:443
    body:
      encoding: ASCII-8BIT
      string: '[{"id":16853,"handle":"azimux"}]'
  recorded_at: Sat, 02 Aug 2025 22:17:14 GMT
- request:
    method: get
    uri: https://rubygems.org/api/v1/gems/foobara-sh-cli-connector/owners.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Backend:
      - F_Rails 52.37.144.133:443
    body:
      encoding: ASCII-8BIT
      string: '[{"id":16853,"handle":"azimux"}]'
  recorded_at: Sat, 02 Aug 2025 22:17:14 GMT
- request:
    method: get
    uri: https://rubygems.org/api/v1/gems/foobara-type-generator/owners.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Backend:
      - F_Rails 52.89.128.178:443
    body:
      encoding: ASCII-8BIT
      string: '[{"id":16853,"handle":"azimux"}]'
  recorded_at: Sat, 02 Aug 2025 22:17:14 GMT
- request:
    method: get
    uri: https://rubygems.org/api/v1/gems/foobara-domain-generator/owners.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Backend:
      - F_Rails 54.148.225.161:443
    body:
      encoding: ASCII-8BIT
      string: '[{"id":16853,"handle":"azimux"}]'
  recorded_at: Sat, 02 Aug 2025 22:17:15 GMT
- request:
    method: get
    uri: https://rubygems.org/api/v1/gems/foobara-command-generator/owners.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Backend:
      - F_Rails 52.37.144.133:443
    body:
      encoding: ASCII-8BIT
      string: '[{"id":16853,"handle":"azimux"}]'
  recorded_at: Sat, 02 Aug 2025 22:17:15 GMT
- request:
    method: get
    uri: https://rubygems.org/api/v1/gems/foobara-spec-helpers/owners.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Backend:
      - F_Rails 54.148.225.161:443
    body:
      encoding: ASCII-8BIT
      string: '[{"id":16853,"handle":"azimux"}]'
  recorded_at: Sat, 02 Aug 2025 22:17:15 GMT
- request:
    method: get
    uri: https://rubygems.org/api/v1/gems/foobara-ollama-api/owners.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Backend:
      - F_Rails 52.37.144.133:443
    body:
      encoding: ASCII-8BIT
      string: '[{"id":16853,"handle":"azimux"}]'
  recorded_at: Sat, 02 Aug 2025 22:17:15 GMT
- request:
    method: get
    uri: https://rubygems.org/api/v1/gems/foobara-organization-generator/owners.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Backend:
      - F_Rails 52.89.128.178:443
    body:
      encoding: ASCII-8BIT
      string: '[{"id":16853,"handle":"azimux"}]'
  recorded_at: Sat, 02 Aug 2025 22:17:15 GMT
- request:
    method: get
    uri: https://rubygems.org/api/v1/gems/foobara-auth-http/owners.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Backend:
      - F_Rails 52.37.144.133:443
    body:
      encoding: ASCII-8BIT
      string: '[{"id":16853,"handle":"azimux"}]'
  recorded_at: Sat, 02 Aug 2025 22:17:15 GMT
- request:
    method: get
    uri: https://rubygems.org/api/v1/gems/foobara-rack-connector-generator/owners.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Backend:
      - F_Rails 52.89.128.178:443
    body:
      encoding: ASCII-8BIT
      string: '[{"id":16853,"handle":"azimux"}]'
  recorded_at: Sat, 02 Aug 2025 22:17:15 GMT
- request:
    method: get
    uri: https://rubygems.org/api/v1/gems/foobara-active-record-type/owners.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Backend:
      - F_Rails 52.89.128.178:443
    body:
      encoding: ASCII-8BIT
      string: '[{"id":16853,"handle":"azimux"}]'
  recorded_at: Sat, 02 Aug 2025 22:17:16 GMT
- request:
    method: get
    uri: https://rubygems.org/api/v1/gems/foobara-open-ai-api/owners.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Backend:
      - F_Rails 54.148.225.161:443
    body:
      encoding: ASCII-8BIT
      string: '[{"id":16853,"handle":"azimux"}]'
  recorded_at: Sat, 02 Aug 2025 22:17:16 GMT
- request:
    method: get
    uri: https://rubygems.org/api/v1/gems/foobara-dotenv-loader/owners.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Backend:
      - F_Rails 52.37.144.133:443
    body:
      encoding: ASCII-8BIT
      string: '[{"id":16853,"handle":"azimux"}]'
  recorded_at: Sat, 02 Aug 2025 22:17:16 GMT
- request:
    method: get
    uri: https://rubygems.org/api/v1/gems/foobara-autocrud-generator/owners.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Backend:
      - F_Rails 54.148.225.161:443
    body:
      encoding: ASCII-8BIT
      string: '[{"id":16853,"handle":"azimux"}]'
  recorded_at: Sat, 02 Aug 2025 22:17:16 GMT
- request:
    method: get
    uri: https://rubygems.org/api/v1/gems/foobara-mcp-connector/owners.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Backend:
      - F_Rails 52.89.128.178:443
    body:
      encoding: ASCII-8BIT
      string: '[{"id":16853,"handle":"azimux"}]'
  recorded_at: Sat, 02 Aug 2025 22:17:16 GMT
- request:
    method: get
    uri: https://rubygems.org/api/v1/gems/foobara-typescript-remote-command-generator/owners.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Backend:
      - F_Rails 52.37.144.133:443
    body:
      encoding: ASCII-8BIT
      string: '[{"id":16853,"handle":"azimux"}]'
  recorded_at: Sat, 02 Aug 2025 22:17:16 GMT
- request:
    method: get
    uri: https://rubygems.org/api/v1/gems/foobara-empty-ruby-project-generator/owners.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Backend:
      - F_Rails 52.89.128.178:443
    body:
      encoding: ASCII-8BIT
      string: '[{"id":16853,"handle":"azimux"}]'
  recorded_at: Sat, 02 Aug 2025 22:17:16 GMT
- request:
    method: get
    uri: https://rubygems.org/api/v1/gems/foobara-domain-mapper-generator/owners.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Backend:
      - F_Rails 52.37.144.133:443
    body:
      encoding: ASCII-8BIT
      string: '[{"id":16853,"handle":"azimux"}]'
  recorded_at: Sat, 02 Aug 2025 22:17:17 GMT
- request:
    method: get
    uri: https://rubygems.org/api/v1/gems/foobara-llm-backed-command/owners.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Backend:
      - F_Rails 52.37.144.133:443
    body:
      encoding: ASCII-8BIT
      string: '[{"id":16853,"handle":"azimux"}]'
  recorded_at: Sat, 02 Aug 2025 22:17:17 GMT
- request:
    method: get
    uri: https://rubygems.org/api/v1/gems/foobara-lru-cache/owners.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Backend:
      - F_Rails 52.37.144.133:443
    body:
      encoding: ASCII-8BIT
      string: '[{"id":16853,"handle":"azimux"}]'
  recorded_at: Sat, 02 Aug 2025 22:17:17 GMT
- request:
    method: get
    uri: https://rubygems.org/api/v1/gems/inheritable-thread-vars/owners.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Backend:
      - F_Rails 52.89.128.178:443
    body:
      encoding: ASCII-8BIT
      string: '[{"id":16853,"handle":"azimux"}]'
  recorded_at: Sat, 02 Aug 2025 22:17:17 GMT
- request:
    method: get
    uri: https://rubygems.org/api/v1/versions/foobara.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Last-Modified:
      - Thu, 31 Jul 2025 22:08:21 GMT
      X-Backend:
      - F_Rails 54.148.225.161:443
      Etag:
      - '"3141106b54bfbebd3adf9c19e979155c"'
    body:
      encoding: ASCII-8BIT
      string: '[{"authors":"Miles Georgi","built_at":"2025-07-31T00:00:00.000Z","created_at":"2025-07-31T22:08:20.081Z","description":"A
        command-centric and discoverable software framework with a focus on domain
        concepts and abstracting away integration code","downloads_count":116,"metadata":{"homepage_uri":"https://foobara.com","changelog_uri":"https://github.com/foobara/foobara/blob/main/CHANGELOG.md","source_code_uri":"https://github.com/foobara/foobara","rubygems_mfa_required":"true"},"number":"0.0.141","summary":"A
        command-centric and discoverable software framework with a focus on domain
        concepts and abstracting away integration code","platform":"ruby","rubygems_version":"\u003e=
        0","ruby_version":"\u003e= 3.4.0","prerelease":false,"licenses":["MPL-2.0"],"requirements":[],"sha":"89e044a6d4145ef61b5892b7a66187456c3023bbc653798a7ffbb6d032da700f","spec_sha":"e7f724444488a460a06af61a66ce58fc5369d645363d52f3207ce7609d3c230f"},{"authors":"Miles
        Georgi","built_at":"2025-07-25T00:00:00.000Z","created_at":"2025-07-25T22:17:06.865Z","description":"A
        command-centric and discoverable software framework with a focus on domain
        concepts and abstracting away integration code","downloads_count":132,"metadata":{"homepage_uri":"https://foobara.com","changelog_uri":"https://github.com/foobara/foobara/blob/main/CHANGELOG.md","source_code_uri"[...]
- request:
    method: get
    uri: https://rubygems.org/api/v1/versions/foobara-util.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Last-Modified:
      - Fri, 25 Jul 2025 21:11:44 GMT
      X-Backend:
      - F_Rails 52.89.128.178:443
      Etag:
      - '"dbc701b7f0264d1105d952f1737ad264"'
 [...]
- request:
    method: get
    uri: https://rubygems.org/api/v1/versions/foobara-ai.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Last-Modified:
      - Wed, 23 Jul 2025 16:44:01 GMT
      X-Backend:
      - F_Rails 54.148.225.161:443
      Etag:
      - '"ff6d212ed9149eb2411a63b61c27eca1"'
  [...]
- request:
    method: get
    uri: https://rubygems.org/api/v1/versions/foobara-agent.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Last-Modified:
      - Thu, 24 Jul 2025 06:27:06 GMT
      X-Backend:
      - F_Rails 52.89.128.178:443
      Etag:
      - '"e3c23e742ebad4c27f6c693308a0c971"'
[...]
- request:
    method: get
    uri: https://rubygems.org/api/v1/versions/foobara-auth.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Last-Modified:
      - Wed, 14 May 2025 03:04:32 GMT
      X-Backend:
      - F_Rails 52.89.128.178:443
      Etag:
      - '"08d56bdb3af46988fb4ff5a4c5fb5df7"'
 [...]
- request:
    method: get
    uri: https://rubygems.org/api/v1/versions/foobara-rubocop-rules.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Last-Modified:
      - Fri, 06 Jun 2025 17:53:48 GMT
      X-Backend:
      - F_Rails 52.89.128.178:443
      Etag:
      - '"1ccb7ec8738583fd94e292244a8[...]
- request:
    method: get
    uri: https://rubygems.org/api/v1/versions/foobara-remote-imports.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Last-Modified:
      - Sun, 11 May 2025 23:36:26 GMT
      X-Backend:
      - F_Rails 52.89.128.178:443
      Etag:
      - '"9b9994ba691c2807d0459cc0f9[...]
- request:
    method: get
    uri: https://rubygems.org/api/v1/versions/foobara-files-generator.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Last-Modified:
      - Sat, 03 May 2025 23:08:24 GMT
      X-Backend:
      - F_Rails 52.37.144.133:443
      Etag:
      - '"1f0f63ae5dad92c347c7df53b[...]
- request:
    method: get
    uri: https://rubygems.org/api/v1/versions/foobara-rack-connector.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Last-Modified:
      - Fri, 18 Apr 2025 20:21:35 GMT
      X-Backend:
      - F_Rails 52.89.128.178:443
      Etag:
      - '"56507cd7977e5dd72c98371e05[...]
- request:
    method: get
    uri: https://rubygems.org/api/v1/versions/foobara-anthropic-api.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Last-Modified:
      - Wed, 09 Jul 2025 18:18:56 GMT
      X-Backend:
      - F_Rails 52.89.128.178:443
      Etag:
      - '"3333a6b60956b14d8465524bdc2[...]
- request:
    method: get
    uri: https://rubygems.org/api/v1/versions/foobara-http-command-connector.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Last-Modified:
      - Sat, 03 May 2025 16:32:06 GMT
      X-Backend:
      - F_Rails 52.89.128.178:443
      Etag:
      - '"f4e521405c1fcc53cd[...]
- request:
    method: get
    uri: https://rubygems.org/api/v1/versions/foobara-sh-cli-connector.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Last-Modified:
      - Thu, 31 Jul 2025 23:32:51 GMT
      X-Backend:
      - F_Rails 52.37.144.133:443
      Etag:
      - '"44eda0a8f37e858411b3af72[...]
- request:
    method: get
    uri: https://rubygems.org/api/v1/versions/foobara-type-generator.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Last-Modified:
      - Tue, 07 Jan 2025 12:45:05 GMT
      X-Backend:
      - F_Rails 54.148.225.161:443
      Etag:
      - '"55e187276edd3aed116114847[...]
- request:
    method: get
    uri: https://rubygems.org/api/v1/versions/foobara-domain-generator.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Last-Modified:
      - Tue, 07 Jan 2025 21:33:26 GMT
      X-Backend:
      - F_Rails 52.37.144.133:443
      Etag:
      - '"60ff2b6631207996effc74ed[...]
- request:
    method: get
    uri: https://rubygems.org/api/v1/versions/foobara-command-generator.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Last-Modified:
      - Mon, 06 Jan 2025 19:32:45 GMT
      X-Backend:
      - F_Rails 54.148.225.161:443
      Etag:
      - '"a3f1aead196f5d231c3a89[...]
- request:
    method: get
    uri: https://rubygems.org/api/v1/versions/foobara-spec-helpers.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Last-Modified:
      - Sun, 05 Jan 2025 00:12:27 GMT
      X-Backend:
      - F_Rails 52.89.128.178:443
      Etag:
      - '"d205c5cb06d76830ac6e555c4cae[...]
- request:
    method: get
    uri: https://rubygems.org/api/v1/versions/foobara-ollama-api.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Last-Modified:
      - Fri, 01 Aug 2025 18:16:13 GMT
      X-Backend:
      - F_Rails 52.89.128.178:443
      Etag:
      - '"b67482f1507ac3219b5a7cc865ba9a[...]
- request:
    method: get
    uri: https://rubygems.org/api/v1/versions/foobara-organization-generator.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Last-Modified:
      - Tue, 07 Jan 2025 22:07:22 GMT
      X-Backend:
      - F_Rails 52.89.128.178:443
      Etag:
      - '"d43bf85b13077677ca[...]
- request:
    method: get
    uri: https://rubygems.org/api/v1/versions/foobara-auth-http.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Last-Modified:
      - Sat, 03 May 2025 16:35:56 GMT
      X-Backend:
      - F_Rails 52.37.144.133:443
      Etag:
      - '"172ab3b452e9c559151a9ae8606e55a[...]
- request:
    method: get
    uri: https://rubygems.org/api/v1/versions/foobara-rack-connector-generator.json
    body:
      encoding: US-ASCII
      string: ''
[...]
